<div class="min-h-screen bg-gray-100 flex flex-col md:flex-row">
  <!-- Sidebar -->
  <%= render "shared/sidebar" %>

  <div class="flex-1 flex flex-col">
    <!-- Navbar -->
    <%= render "shared/navbar" %>

    <main class="p-4 md:p-6">
      <div class="w-full">
        <table class="w-full border-gray-200 shadow-lg rounded-lg overflow-hidden">
          <thead class="bg-gray-100 text-black">
            <tr>
              <th class="w-3/6 px-6 py-3 text-left text-sm font-semibold">Name</th>
              <th class="w-1/6 px-6 py-3 text-left text-sm font-semibold">Status</th>
              <th class="w-1/6 px-6 py-3 text-left text-sm font-semibold">Quantity</th>
              <th class="w-2/6 px-6 py-3 text-left text-sm font-semibold">Actions</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            <% @items.each do |item| %>
              <tr class="hover:bg-gray-50">
                <td class="px-6 py-3"><%= item.name %></td>
                <td class="px-6 py-3">
                  <span class="px-2 inline-flex text-xs font-medium rounded-full 
                    <%= case item.status
                        when "available" then 'bg-green-100 text-green-800'
                        when "unavailable" then 'bg-red-100 text-red-800'
                        when "tracked" then 'bg-yellow-100 text-yellow-800'
                        when "expired" then 'bg-gray-200 text-gray-800'
                        else 'bg-gray-100 text-gray-600'
                      end %>">
                    <%= item.status.capitalize %>
                  </span>
                </td>
                <td class="px-6 py-3"><%= item.quantity %></td>
                <td class="px-6 py-3">
                  <div class="flex space-x-2">
                    <%= link_to "Edit", edit_item_path(item), class: "inline-block bg-blue-600 text-white px-3 py-1 rounded-md hover:bg-blue-700 transition text-sm" %>
                    <%= link_to "Show", item_path(item), class: "inline-block bg-blue-600 text-white px-3 py-1 rounded-md hover:bg-blue-700 transition text-sm" %>
                    <%= button_to "Delete", item_path(item), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "inline-block bg-red-600 text-white px-1 py-1 rounded-md hover:bg-red-700 transition text-sm" %>                
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>